body {
    background-color: rgb(242, 226, 205);
}

h1 {
    background-color: darksalmon;
    font-size: 55px;
    color: rgb(28, 4, 211);
    letter-spacing: 12px;
    word-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
}

p {
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    word-spacing: 8px;
    text-decoration: overline;
}

h2 {
    /* border: 2px black solid; */
    border-top: 5px black solid;
    border-right: 5px rgb(255, 0, 170) double;
    border-bottom: 5px red groove;
    border-left: 5px blue dotted;

    /* padding */
    /* padding: 50px; */
    padding-top: 30px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 50px;

    /* margin */
    /* margin: 70px; */
    margin-top: 40px;
    margin-right: 50px;
    margin-bottom: 40px;
    margin-left: 50px;
}


a {
    text-decoration: none;
    font-size: 20px;
    background-color: rgb(209, 5, 188);
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-right: 15px;
}

a:hover {
    background-color: rgb(235, 156, 59);
    color: blue;
    text-decoration: underline;
}

h1:hover {
    background-color: brown;
    color: white;
}